In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Database.csv")

In [3]:
data.columns

Index(['data_inversa', 'dia_semana', 'horario', 'uf', 'br', 'km', 'municipio',
       'causa_acidente', 'tipo_acidente', 'classificacao_acidente', 'fase_dia',
       'sentido_via', 'condicao_metereologica', 'tipo_pista', 'tracado_via',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'latitude', 'longitude', 'regional',
       'delegacia'],
      dtype='object')

In [4]:
data.groupby(['regional', 'uf']).size().reset_index(name="Total")

   regional  uf  Total
0   SPRF-AC  AC   1728
1   SPRF-AC  AM     12
2   SPRF-AC  RO      4
3   SPRF-AL  AL   4334
4   SPRF-AL  PE     30
5   SPRF-AM  AM    674
6   SPRF-AP  AP   1066
7   SPRF-AP  PA      1
8   SPRF-BA  AL     93
9   SPRF-BA  BA  23538
10  SPRF-BA  MG    144
11  SPRF-BA  PE     62
12  SPRF-CE  CE  10718
13  SPRF-CE  PB     39
14  SPRF-DF  DF   6636
15  SPRF-DF  GO   6947
16  SPRF-ES  ES  17308
17  SPRF-GO  GO  15801
18  SPRF-MA  MA   7860
19  SPRF-MG  MG  61177
20  SPRF-MS  MS  10858
21  SPRF-MS  SP     51
22  SPRF-MT  MT  16196
23  SPRF-PA  PA   6797
24  SPRF-PB  CE      8
25  SPRF-PB  PB  10286
26  SPRF-PE  BA    542
27  SPRF-PE  PE  18582
28  SPRF-PI  MA    189
29  SPRF-PI  PI   8522
30  SPRF-PR  MS      4
31  SPRF-PR  PR  52571
32  SPRF-PR  SC      1
33  SPRF-RJ  RJ  32231
34  SPRF-RN  RN   9145
35  SPRF-RO  AM     88
36  SPRF-RO  MT     76
37  SPRF-RO  RO  10239
38  SPRF-RR  RR   1601
39  SPRF-RS  RS  32408
40  SPRF-RS  SC     56
41  SPRF-SC  PR    362
42  SPRF-SC  SC  55360
43  SPRF-SE  BA    257
44  SPRF-SE  SE   3871
45  SPRF-SP  SP  30694
46  SPRF-TO  TO   3974
47   UniPRF  SC      1

In [5]:
data.groupby(['pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos', "ignorados",]).size().reset_index(name="Total")

      pessoas  mortos  feridos_leves  feridos_graves  ilesos  ignorados  Total
0           1       0              0               0       0          1   7277
1           1       0              0               0       1          0  38953
2           1       0              0               1       0          0  15989
3           1       0              1               0       0          0  62504
4           1       1              0               0       0          0   3947
...       ...     ...            ...             ...     ...        ...    ...
2668       74       0             34               0      40          0      1
2669       75       0             10               0      64          1      1
2670       75       4             23              31       6         11      1
2671       77       8             58               8       3          0      1
2672       80      13             33               6      28          0      1

[2673 rows x 7 columns]

In [6]:
data["ilesos"].unique()

array([ 2,  1,  3,  0,  4,  8, 47,  7,  9,  5, 10,  6, 27, 35, 14, 15, 36,
       31, 33, 25, 11, 13, 12, 22, 46, 23, 44, 26, 41, 17, 34, 43, 29, 19,
       18, 40, 16, 38, 20, 45, 49, 21, 64, 24, 37, 32, 56, 28, 54, 48, 30,
       52, 39, 51, 42, 62, 73, 53, 50, 61, 58, 59])

In [7]:
data.groupby(['classificacao_acidente', 'mortos']).size().reset_index(name="Total")

   classificacao_acidente  mortos   Total
0      Com Vítimas Fatais       1   27667
1      Com Vítimas Fatais       2    2703
2      Com Vítimas Fatais       3     599
3      Com Vítimas Fatais       4     222
4      Com Vítimas Fatais       5      88
5      Com Vítimas Fatais       6      30
6      Com Vítimas Fatais       7      16
7      Com Vítimas Fatais       8       7
8      Com Vítimas Fatais       9       2
9      Com Vítimas Fatais      10       1
10     Com Vítimas Fatais      11       2
11     Com Vítimas Fatais      12       3
12     Com Vítimas Fatais      13       2
13     Com Vítimas Fatais      19       1
14     Com Vítimas Fatais      21       1
15    Com Vítimas Feridas       0  332213
16            Sem Vítimas       0   99595